*{
    padding: 0;
    margin: 0;
}

body{
    background:linear-gradient( to right ,#028090,#d6797f);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1.5vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow:0 0 12px rgb(40, 39, 44);
    font-size: 8vmin;
    color: #432534;
    background:linear-gradient( to left bottom,#fadde1,#e4bfb7);
}

#reset-btn{
    padding: 1rem;
    font-size: 1rem;
    color: #132a13;
    background:linear-gradient( to left bottom,#d6797f,#5e60ce);
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1rem;
    color: #3e1f47;
    background:linear-gradient( to left bottom,#709775,#415d43);
    border-radius: 1rem;
    border: none;
}

#msg{
    font-size: 5vmin;;
    color:#c9cba3;
}
.msg-container{
 height: 26vmin;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 4rem;
}
.hide{
    display: none;
}